.welcome-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 5vw;
    margin: auto;
    padding: 0 0 0 10vw;
}

.hey{
    font-size: 22px;
}

.name{
    font-size: 60px;
    font-weight: bold;
}

.phrase{
    font-size: 40px;
}